body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
  padding-top: 9px;
  margin-bottom: 11px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.main-navigation ul {
  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 10px;


  z-index: 30;
}

.site-navigation > li {
  position: relative;

  display: inline-block;
}

.site-navigation a {
  display: block;
  padding: 7px 14px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.site-navigation > li > a {
    text-decoration: underline;
}

.site-navigation > li > a:hover {
  color: #323232;

  background-color: #f7f6f3;
  border-radius: 20px;
}

.site-navigation > li > a:focus,
.site-navigation > li > a:active {
  color: #323232;
  border-radius: 20px;
  background-color: #f7f6f3;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
  outline: none;
}

.site-navigation-submenu  {
  position: absolute;
  left: -10px;
  top: 40px;

  display: none;
  width: 143px;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 7px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.site-navigation-submenu  a {
  padding: 5px 0 7px 22px;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.site-navigation-submenu a:hover  {
  background-color: #fbded7;
}

.site-navigation-submenu a:focus,
.site-navigation-submenu a:active  {
  background-color: #f6b5a5;
}

.site-navigation-submenu .current {
  color: #ffffff;
  background-color: #d07058;
}

.site-navigation .site-navigation-current {
  border-radius: 20px;
  background-color: #d07058;
  text-decoration: none;
}

.site-navigation-submenu .current:hover,
.site-navigation-submenu .current:focus,
.site-navigation-submenu .current:active {
  color: #ffffff;
  background-color: #d07058;
}

.site-navigation-submenu .novelty  {
  border-bottom: 1px solid #d1d0ce;
  font-weight: bold;
}

.site-navigation > li:hover .site-navigation-submenu {
  display: block;
}

.user-navigation {
  width: 300px;
  font-weight: 500;

  display: flex;
  justify-content: flex-end;
}

.user-navigation li {
    margin-left: 10px;
}

.user-navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.login-link svg,
.shopping-cart svg {
  padding-right: 8px;
}

.user-navigation .search {
  padding-left: 8px;
  padding-right: 8px;
}

.user-navigation-button:hover,
.user-navigation-button:focus,
.user-navigation-button:active {
  color: #323232;

  background-color: #f8f7f4;
}

.user-navigation-button:hover path,
.user-navigation-button:focus path,
.user-navigation-button:active path {
  fill: #323232;
}

.user-navigation > li {
  position: relative;
}

.user-navigation .modal-search {
  position: absolute;
  width: 340px;

  left: -335px;
  top: 40px;
  display: none;
  margin: 0;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal-search input[type="text"] {
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;

  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  border-style: 1px solid rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

/*Проблема. Невозможно ввести поисковый запрос. Форма видна только при наведении. Нужно сделать так, что бы она не пропадала*/
.user-navigation > li:hover .modal-search {
  display: block;
}

.contact-time {
  position: absolute;

  top: 60px;
  right: 0px;
  text-align: right;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-image1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-image2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-image3.png");
}

.slider {
  position: relative;

  padding-top: 300px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slide {
  display: none;
}

.slider .button {
  padding: 12px 44px;

  font-size: 32px;
  line-height: 44px;
}

.slider p {
  text-align: center;
}

.slider-controls {
  position: absolute;
  bottom: 23px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-image1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-image2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-image3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.features {
  padding: 27px 20px;
  padding-bottom: 2px;
  margin-bottom: 40px;
  color: #323232;
  border-radius: 15px;
  background-color: #ecddc1;
  background-image: url("../img/wafer-fon.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.features p {
  /* margin-bottom: 25px; */
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.feature-item {
  position:relative;

  width: 482px;
  padding-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.feature-item:nth-child(2n+1) {
  padding-left: 58px;
}

.feature-item:nth-child(2n) {
  /* padding-right: 20px; */
  padding-left: 58px;
}

.feature-item::after {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;

    width: 49px;
    height: 49px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-item:nth-child(1)::after {
  background-image: url("../img/ice-cream.svg");
}

.feature-item:nth-child(2)::after {
  background-image: url("../img/cow.svg");
}

.feature-item:nth-child(3)::after {
  background-image: url("../img/eco.svg");
}

.feature-item:nth-child(4)::after {
  background-image: url("../img/thermometer.svg");
}

.blog {
  width: 560px;
  min-height: 220px;
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/strawberry-fon.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;

  border-radius: 15px;
}


.blog h2 {
  font-size: 16px;
  line-height: 22px;
}

.blog a {
  color: #323232;
  text-decoration: underline;
  font-size: 24px;
  line-height: 30px;
}

.subscribe {
  background-color: #f8f7f4;
  width: 508px;
  min-height: 150px;
  border-radius: 15px;
  padding: 35px 26px;
}

.subscribe p {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscribe input {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;

  border: 1px solid #c7c6c5;
  border-radius: 5px;
}

.subscribe input:hover {
  box-shadow: 0 0 0 2px #c7c6c5;
}

.subscribe input:focus {
  box-shadow: 0 0 0 2px #8fbdec;
}

.subscribe input:not([value=""]) {
  color: #323232;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.main-footer {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  display: flex;
  justify-content: space-between;
}

.main-footer ul {
  list-style: none;
}
.main-footer a {
  color: #ffffff;
  text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
  color: #ffbc9e;
}

.for-suppliers a {
  font-weight: bold;
}

.page-title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin:  0;
  margin-bottom: 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs a {
  text-decoration: underline;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs-current a,
.breadcrumbs-current a:hover,
.breadcrumbs-current a:focus,
.breadcrumbs-current a:active {
  text-decoration: none;
  color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.catalog-item-image img {
  border-radius: 50%;
}

.catalog-item b {
  font-size: 45px;
  line-height: 45px;
  font-size: 45px;
  color: #ffffff;
  font-weight: bold;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

}

.catalog-item h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
}


.main-header-logo {
  width: 154px;
  height: 64px;
}

.promotions {
  width: 1146px;
}

.promotions-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-top: 40px;
  margin: 0;
  margin-bottom: 40px;

}

.promotions li:first-child {
  width: 520px;
  min-height: 195px;
  padding: 20px;
  padding-top: 15px;

  background-color: #990033;
  background-image: url("../img/promotions-item-fon1.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.promotions li {
  position: relative;
}

.promotions li:last-child {
  width: 520px;
  min-height: 195px;
  padding: 20px;
  padding-top: 15px;

  background-color: #4a2d21;
  background-image: url("../img/promotions-item-fon2.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.promotions ul {
  list-style: none;
}

.promotions h3 {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.promotions p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 22px;
}

.promotions .button {
  position: absolute;

  right: 20px;
  bottom: 26px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 23px;
}

.popular-product ul {
  list-style: none;
}

.popular-product h3,
.catalog h3 {
  position: absolute;
  top: 262px;
  right: 0;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  font-weight: 500;
  text-align: center;
}

.popular-product b,
.catalog b {
  position: absolute;
  top: 210px;
  left: 0;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-product-list,
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0;
}

.popular-product-item,
.catalog-item {
  position: relative;
  width: 267px;
  min-height: 340px;
}

.popular-product-item b::before {
  position: absolute;
  top: -210px;
  left: 0px;
  content: "";
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 61px;
  height: 61px;
}

.catalog-item-image {
  margin: 0;
}

.contact-time p {
  font-size: 32px;
  line-height: 44px;
  text-align: right;
}

.contact-time .time-work {
  display: block;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 16px;
}

.contact-time .phone {
  display: block;
  margin-bottom: 0;
  margin-top: 6px;
  font-size: 22px;
  line-height: 24px;
}

.contacts {
  color: #323232;
  background-color: #ffffff;
}

.contacts h4,
.contacts .time-work {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contacts .phone,
.contacts .adress {
  font-size: 18px;
  line-height: 24px;
}

.pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
  width: 1146px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item {
  display: flex;
  margin-left: 3px;
  justify-content: flex-end;

}

.pagination-item:first-child {
  margin-left: 0;
}

.pagination-item a {

  width: 23px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 3px;


  color: #ffffff;

}

.pagination-forward,
.pagination-back {
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.pagination-back {
  transform: rotate(180deg);
  opacity: 0.2;
}

.pagination-forward {
  margin-right: -8px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #323232;

  background-color: #ffffff;
  border-radius: 50%;
}
/*

*/
/*Стили для раздела фильта Цена:*/

.filter-range {
  width: 330px;
  margin: 10px;

  color: #ffffff;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.price-controls {
  position: relative;

  height: 36px;

  font-size: 0;

  border: 1px solid #ffffff;
  border-radius: 20px;
}

.price-controls label {
  display: inline-block;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ffffff;

  border: none;
}

.range-controls {
  position: relative;

  height: 36px;
  margin-bottom: 10px;
  padding-top: 14px;
  padding-right: 22px;
  padding-left: 22px;

  background-color: rgba(248, 250, 249, 0.2);

  border-radius: 20px;
}

.range-controls .scale {
  height: 4px;

  background: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  margin: 10px;
  margin-left: 50px;
  width: 60%;
  height: 4px;

  background: rgba(248, 247, 244, 1);
}

.range-toggle {
  position: absolute;
  top: 16px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 10;
}

.range-toggle-max {
  left: 80%;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  opacity: 0.8;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
  outline: none;
}

.social-button:active {
  opacity: 0.7;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 185px;
  margin: 0 auto;
  padding: 0;
  margin-top: 38px;
}

.social-twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
}

.social-instagram {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
}

.social-facebook {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
}

.social-vkontakte {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
}

.additional-navigation {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.additional-navigation li {
  min-width: 170px;
}

.additional-navigation li:nth-child(2n+1) {
  padding-left: 20px;
}

.for-suppliers {
  position: relative;
}

.for-suppliers::after {
    content: "";

    position: absolute;
    top: 3px;
    left: 3px;

    width: 21px;
    height: 19px;

    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }




/*Временно скрыла модальные окна*/
/* .modal {
  display: none;
} */
