body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: #849d8f;
}

.main-navigation li{
  list-style: none;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
}

.site-navigation a {
  color: #ffffff;

  border-bottom: 1px solid #adbdb4;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
  color: #323232;
}

.site-navigation-submenu  {
  width: 143px;
  background-color: #f8f7f4;
  border-radius: 2px;
}

.site-navigation-submenu a {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
  width: 143px;
  border-bottom: 0;


}

.novelty  {
  border-bottom: 1px solid #d1d0ce;
}

.novelty a {
  font-weight: bold;
}

.user-navigation {
  font-weight: medium;
}

.user-navigation-button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;

  background-color: #9db1a5;
  border: none;
}

.user-navigation-button:hover,
.user-navigation-button:focus,
.user-navigation-button:active {
  color: #323232;

  background-color: #f8f7f4;
}








/*Временно скрыла модальные окна*/
.modal {
  display: none;
}
